<!DOCTYPE html>
<html lang="pt">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="http://localhost:4555/socket.io/socket.io.js"></script>
  <title>View</title>
</head>
<body>
  <h1><%=message%></h1>
  <ul>
    <%names.forEach((name) => {%>
      <li><%=name%></li>
  
    <%})%>
  </ul>

  <br/>

  <ul id="socket"></ul>

  <button id="button">Send</button>
  <button id="count">Count</button>
  <input id='input' />
  <h2 id="h2"><%=quantity%></h2>

  <script>
    const socket = window.io('http://localhost:4555');

    socket.on('notification', (message) => {
      const ul = document.getElementById('socket');

      const li = document.createElement('li');
      const text = document.createTextNode(message);
      li.appendChild(text);
      ul.appendChild(li);
    })

  
    const button =  document.getElementById('button');
    button.addEventListener('click', () => {
      const value = document.getElementById('input').value;
      socket.emit('input', value);
      document.getElementById('input').value = '';
    })


    socket.on('clientInput', (eventInput) => {
      console.log(eventInput);
      const ul = document.getElementById('socket');

      const li = document.createElement('li');
      const text = document.createTextNode(eventInput);
      li.appendChild(text);
      ul.appendChild(li);
    });

    const ButtonCount =  document.getElementById('count');
    ButtonCount.addEventListener('click', () => {
      const value = 0;
      socket.emit('count', value);
    })

    socket.on('countClient', (count) => {
      console.log(count);
      const h2 = document.getElementById('h2');
      
      h2.innerText = count;
      // h2.innerText = '';
    });

  </script>
</body>
</html>
